SUPABASE_URL=https://dotfnhobuxovxahcxahi.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRvdGZuaG9idXhvdnhhaGN4YWhpIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTUyNjkwMTMsImV4cCI6MjAxMDg0NTAxM30.UkCk8w1qC8KzGrNL40SKldjSdmGd4ltepe3Q8jx-kaQ
PG_DATABASE_URL=notimplementedyet
OPENAI_API_KEY=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
ANTHROPIC_API_KEY=null
JWT_SECRET_KEY=A+xjJUwRwHlsB6+cdShNFNgZrQP1m2+7118v/fBIBaXRFpb66s3r7J6+wHMtXvAGQjyRcYckH8BWNpEGrdZyUw==
AUTHENTICATE=true
GOOGLE_APPLICATION_CREDENTIALS=<change-me>
GOOGLE_CLOUD_PROJECT=<change-me>
CELERY_BROKER_URL=redis://redis:6379/0
CELEBRY_BROKER_QUEUE_NAME=quivr-preview.fifo

MAX_BRAIN_SIZE=52428800
MAX_REQUESTS_NUMBER=200
MAX_BRAIN_PER_USER=5

#Private LLM Variables
PRIVATE=False
MODEL_PATH=./local_models/ggml-gpt4all-j-v1.3-groovy.bin

#RESEND
RESEND_API_KEY=<change-me>
RESEND_EMAIL_ADDRESS=onboarding@resend.dev

CRAWL_DEPTH=1